.Rproj.user
.Rhistory
.RData
.Ruserdata
_energy/data-raw/*/

/.quarto/
*_cache
.DS_Store

_transportation/report_transportation_files/figure-html/
_waste/data-raw/score_summary.csv
_waste/data-raw/ghg-emission-factors-hub-2021.xlsx

R/WI_Cities%2C_Towns_and_Villages_(July_2023)/

R/WI_Cities%2C_Towns_and_Villages_(July_2023).zip

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/1594313_CPRG_County_OD_NP_2021_od_all.csv

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/1594313_CPRG_County_OD_NP_2021_od_trip_all.csv

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/Zone Activity/

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/Shapefile/

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/Analysis Details/1594313_CPRG_County_OD_NP_2021_sample_size.csv

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/Analysis Details/1594313_CPRG_County_OD_NP_2021_skipped_time_attributes.csv

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/Analysis Details/1594313_CPRG_County_OD_NP_2021_zones.csv

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021.zip

_transportation/data-raw/mndot/yearly_volume_trends_with_distribution_reports/

_transportation/data-raw/mndot/Current_CC_StationList.xlsx

_transportation/data-raw/mndot/county_route_system/

_transportation/data-raw/wisdot/vmt_by_county/

_transportation/data-raw/wisdot/Traffic_Counts.geojson

_transportation/data-raw/wisdot/~$class.xlsx

_transportation/data-raw/stl_raw_downloads/1599856_CPRG_County_OD_NP_Truck_SFCalib_2021/

_transportation/data-raw/stl_raw_downloads/1599856_CPRG_County_OD_NP_Truck_SFCalib_2021.zip

_transportation/data-raw/mndot/~$Current_CC_StationList.xlsx
_energy/data-raw/eia-recs-2020.csv
_energy/data-raw/ghg-emission-factors-hub-2021.xlsx
_energy/data-raw/eia-recs-region-2020.xlsx
_meta/data-raw/1.0-communities.csv

_meta/data-raw/WI_Cities%2C_Towns_and_Villages_(July_2023)/

_meta/data-raw/WI_Cities%2C_Towns_and_Villages_(July_2023).zip

_transportation/data-raw/epa/nei2020/

_transportation/data-raw/epa/community_ghg_inventorytool_11.28.23/

_transportation/data-raw/epa/community_ghg_inventorytool_11.28.23.zip

_transportation/data-raw/epa/community-ghg-data-collection-template_6.22.23_1.xlsx

_transportation/data-raw/epa/metcouncil_community_ghg_inventorytool_11.28.23.xlsm

_transportation/data-raw/epa/metcouncil2_community_ghg_inventorytool_11.28.23.xlsm

_transportation/data-raw/epa/state_ghg/

_transportation/data-raw/epa/~$community-ghg-data-collection-template_6.22.23_1.xlsx

_transportation/data-raw/epa/~$metcouncil_community_ghg_inventorytool_11.28.23.xlsm

_transportation/data-raw/epa/force_unlock_community-ghg-data-collection-template_6.22.23_1.xls

_transportation/data-raw/epa/force_unlock_community-ghg-data-collection-template_6.22.23_1.xlsx

_energy/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/eia-recs-2020.csv

_energy/data-raw/eia-recs-region-2020.csv

_energy/data-raw/ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/eia-recs-region-2020.csv

_energy/data-raw/eGRID2021_data.xlsx

_energy/data-raw/eGRID2021_summary_tables.xlsx

_energy/data-raw/egrid2022_summary_tables.xlsx

_energy/data-raw/ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/eia-recs-region-2020.csv

_energy/data-raw/eGRID2021_data.xlsx

_energy/data-raw/eGRID2021_summary_tables.xlsx

_energy/data-raw/egrid2022_summary_tables.xlsx

_energy/data-raw/ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/eia-recs-region-2020.csv

_energy/data-raw/eGRID2021_data.xlsx

_energy/data-raw/eGRID2021_summary_tables.xlsx

_energy/data-raw/egrid2022_summary_tables.xlsx

_waste/data-raw/wastewater/epa/all-state-inventory-tools_0/

_waste/data-raw/wastewater/epa/all-state-inventory-tools_0.zip

_transportation/data-raw/epa/state_ghg/allstateghgdatapy2023readme_100323_0/

_transportation/data-raw/epa/state_ghg/allstateghgdatapy2023readme_100323_0.zip

_transportation/data-raw/epa/state_ghg/Methodology-Report-Full.pdf

_energy/data-raw/ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/eia-recs-region-2020.csv

_energy/data-raw/eGRID2021_data.xlsx

_energy/data-raw/eGRID2021_summary_tables.xlsx

_energy/data-raw/egrid2022_summary_tables.xlsx

_waste/pa_waste.html

_waste/qc_waste_other.html

_waste/qc_waste.html

_waste/_waste.html

tables.html

figures.html

references.html

_meta/data_request_template.html

_meta/supplementary_data.html

_meta/supplementary_tables.html

_transportation/_transportation.html

_transportation/data_transportation.html

_transportation/pa_transportation.html

_transportation/qc_transportation.html

caption_index.RDS

_waste/data-raw/epa/

_meta/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_meta/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_waste/data-raw/epa/

_transportation/data-raw/stl_raw_downloads/1600439_CPRG_County_OD_NP_Truck_Calib_ReClass.zip

_transportation/data-raw/stl_raw_downloads/1689255_CPRG_County_AADT_motor_trunk_primary.zip

_transportation/data-raw/stl_raw_downloads/1689256_CPRG_County_AADT_secondary_tertiary.zip

_transportation/data_streetlight_files/

_transportation/data-raw/stl_raw_downloads/1689256_CPRG_County_AADT_secondary_tertiary/

_transportation/data-raw/stl_raw_downloads/1689255_CPRG_County_AADT_motor_trunk_primary/

_transportation/data-raw/stl_raw_downloads/1600439_CPRG_County_OD_NP_Truck_Calib_ReClass/

_waste/data-raw/wastewater/epa/wastewater-module.xlsm

_waste/data-raw/wastewater/epa/~$wastewater-module.xlsm

_waste/data_wastewater_files/

_waste/data_wastewater.html

_transportation/data-raw/wisdot/Historical_Traffic_Count_(Table).gdb.zip

_transportation/data-raw/analysis_runs/county_aadt.RDS

_transportation/data-raw/stl_raw_downloads/1600439_CPRG_County_OD_NP_Truck_Calib_ReClass.zip

_transportation/data-raw/stl_raw_downloads/1689255_CPRG_County_AADT_motor_trunk_primary.zip

_transportation/data-raw/stl_raw_downloads/1689256_CPRG_County_AADT_secondary_tertiary.zip

_transportation/data-raw/stl_raw_downloads/1689256_CPRG_County_AADT_secondary_tertiary/

_transportation/data-raw/stl_raw_downloads/1689255_CPRG_County_AADT_motor_trunk_primary/

_transportation/data-raw/stl_raw_downloads/1600439_CPRG_County_OD_NP_Truck_Calib_ReClass/

_transportation/data_streetlight_files/

_transportation/data_streetlight.html

_waste/data_wastewater_files/

_waste/data-raw/wastewater/epa/wastewater-module.xlsm

_waste/data_wastewater_files/

_waste/data-raw/wastewater/epa/wastewater-module.xlsm

_transportation/data-raw/stl_raw_downloads/1600439_CPRG_County_OD_NP_Truck_Calib_ReClass.zip

_transportation/data-raw/stl_raw_downloads/1689255_CPRG_County_AADT_motor_trunk_primary.zip

_transportation/data-raw/stl_raw_downloads/1689256_CPRG_County_AADT_secondary_tertiary.zip

_transportation/data_streetlight_files/

_transportation/data-raw/stl_raw_downloads/1689256_CPRG_County_AADT_secondary_tertiary/

_transportation/data-raw/stl_raw_downloads/1689255_CPRG_County_AADT_motor_trunk_primary/

_transportation/data-raw/stl_raw_downloads/1600439_CPRG_County_OD_NP_Truck_Calib_ReClass/

R/fetch_path.R

_transportation/data_epa_moves_files/

_transportation/data_epa_moves_files/

_transportation/data_epa_moves.html

_transportation/data_epa_moves_files/

R/fetch_path.R
