.Rproj.user
.Rhistory
.RData
.Ruserdata
_energy/data-raw/*/

/.quarto/
*_cache
.DS_Store

_transportation/report_transportation_files/figure-html/

R/WI_Cities%2C_Towns_and_Villages_(July_2023)/

R/WI_Cities%2C_Towns_and_Villages_(July_2023).zip
