.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
*_cache
.DS_Store

**/desktop.ini

_transportation/report_transportation_files/figure-html/

_waste/data-raw/tabula-waste-characterization-table.csv

_waste/data-raw/score_summary.csv

_waste/data-raw/ghg-emission-factors-hub-2021.xlsx

_waste/data-raw/solid_waste_flaring.xlsx

_waste/data-raw/solid_waste_lfgte.xlsx

R/WI_Cities%2C_Towns_and_Villages_(July_2023)/

R/WI_Cities%2C_Towns_and_Villages_(July_2023).zip

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/1594313_CPRG_County_OD_NP_2021_od_all.csv

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/1594313_CPRG_County_OD_NP_2021_od_trip_all.csv

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/Zone Activity/

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/Shapefile/

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/Analysis Details/1594313_CPRG_County_OD_NP_2021_sample_size.csv

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/Analysis Details/1594313_CPRG_County_OD_NP_2021_skipped_time_attributes.csv

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021/Analysis Details/1594313_CPRG_County_OD_NP_2021_zones.csv

_transportation/data-raw/stl_raw_downloads/1594313_CPRG_County_OD_NP_2021.zip

_transportation/data-raw/mndot/yearly_volume_trends_with_distribution_reports/

_transportation/data-raw/mndot/Current_CC_StationList.xlsx

_transportation/data-raw/mndot/county_route_system/

_transportation/data-raw/wisdot/vmt_by_county/

_transportation/data-raw/wisdot/Traffic_Counts.geojson

_transportation/data-raw/wisdot/~$class.xlsx

_transportation/data-raw/stl_raw_downloads/1599856_CPRG_County_OD_NP_Truck_SFCalib_2021/

_transportation/data-raw/stl_raw_downloads/1599856_CPRG_County_OD_NP_Truck_SFCalib_2021.zip

_transportation/data-raw/mndot/~$Current_CC_StationList.xlsx
_energy/data-raw/eia-recs-2020.csv
_energy/data-raw/ghg-emission-factors-hub-2021.xlsx
_energy/data-raw/eia-recs-region-2020.xlsx
_meta/data-raw/1.0-communities.csv

_meta/data-raw/WI_Cities%2C_Towns_and_Villages_(July_2023)/

_meta/data-raw/WI_Cities%2C_Towns_and_Villages_(July_2023).zip

_transportation/data-raw/epa/nei2020/

_transportation/data-raw/epa/community_ghg_inventorytool_11.28.23/

_transportation/data-raw/epa/community_ghg_inventorytool_11.28.23.zip

_transportation/data-raw/epa/community-ghg-data-collection-template_6.22.23_1.xlsx

_transportation/data-raw/epa/metcouncil_community_ghg_inventorytool_11.28.23.xlsm

_transportation/data-raw/epa/metcouncil2_community_ghg_inventorytool_11.28.23.xlsm

_transportation/data-raw/epa/state_ghg/

_transportation/data-raw/epa/~$community-ghg-data-collection-template_6.22.23_1.xlsx

_transportation/data-raw/epa/~$metcouncil_community_ghg_inventorytool_11.28.23.xlsm

_transportation/data-raw/epa/force_unlock_community-ghg-data-collection-template_6.22.23_1.xls

_transportation/data-raw/epa/force_unlock_community-ghg-data-collection-template_6.22.23_1.xlsx

_energy/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/eia-recs-2020.csv

_energy/data-raw/eia-recs-region-2020.csv

_energy/data-raw/ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/eia-recs-region-2020.csv

_energy/data-raw/eGRID2021_data.xlsx

_energy/data-raw/eGRID2021_summary_tables.xlsx

_energy/data-raw/egrid2022_summary_tables.xlsx

_energy/data-raw/ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/eia-recs-region-2020.csv

_energy/data-raw/eGRID2021_data.xlsx

_energy/data-raw/eGRID2021_summary_tables.xlsx

_energy/data-raw/egrid2022_summary_tables.xlsx

_energy/data-raw/ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/eia-recs-region-2020.csv

_energy/data-raw/eGRID2021_data.xlsx

_energy/data-raw/eGRID2021_summary_tables.xlsx

_energy/data-raw/egrid2022_summary_tables.xlsx

_waste/data-raw/wastewater/epa/all-state-inventory-tools_0/

_waste/data-raw/wastewater/epa/all-state-inventory-tools_0.zip

_transportation/data-raw/epa/state_ghg/allstateghgdatapy2023readme_100323_0/

_transportation/data-raw/epa/state_ghg/allstateghgdatapy2023readme_100323_0.zip

_transportation/data-raw/epa/state_ghg/Methodology-Report-Full.pdf

_energy/data-raw/ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_energy/data-raw/eia-recs-region-2020.csv

_energy/data-raw/eGRID2021_data.xlsx

_energy/data-raw/eGRID2021_summary_tables.xlsx

_energy/data-raw/egrid2022_summary_tables.xlsx

_waste/pa_waste.html

_waste/qc_waste_other.html

_waste/qc_waste.html

_waste/_waste.html

tables.html

figures.html

references.html

_meta/data_request_template.html

_meta/supplementary_data.html

_meta/supplementary_tables.html

_transportation/_transportation.html

_transportation/data_transportation.html

_transportation/pa_transportation.html

_transportation/qc_transportation.html

caption_index.RDS

_waste/data-raw/epa/

_meta/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_meta/data-raw/~$ghg-emission-factors-hub-2021.xlsx

_waste/data-raw/epa/

_meta/data-raw/EJSCREEN_2023_BG_StatePct_with_AS_CNMI_GU_VI.csv

_transportation/data-raw/stl_raw_downloads/1600439_CPRG_County_OD_NP_Truck_Calib_ReClass.zip

_transportation/data-raw/stl_raw_downloads/1689255_CPRG_County_AADT_motor_trunk_primary.zip

_transportation/data-raw/stl_raw_downloads/1689256_CPRG_County_AADT_secondary_tertiary.zip

_transportation/data_streetlight_files/

_transportation/data-raw/stl_raw_downloads/1689256_CPRG_County_AADT_secondary_tertiary/

_transportation/data-raw/stl_raw_downloads/1689255_CPRG_County_AADT_motor_trunk_primary/

_transportation/data-raw/stl_raw_downloads/1600439_CPRG_County_OD_NP_Truck_Calib_ReClass/

_waste/data-raw/wastewater/epa/wastewater-module.xlsm

_waste/data-raw/wastewater/epa/~$wastewater-module.xlsm

_waste/data_wastewater_files/

_waste/data_wastewater.html

_transportation/data-raw/wisdot/Historical_Traffic_Count_(Table).gdb.zip

_transportation/data-raw/analysis_runs/county_aadt.RDS

_transportation/data-raw/stl_raw_downloads/1600439_CPRG_County_OD_NP_Truck_Calib_ReClass.zip

_transportation/data-raw/stl_raw_downloads/1689255_CPRG_County_AADT_motor_trunk_primary.zip

_transportation/data-raw/stl_raw_downloads/1689256_CPRG_County_AADT_secondary_tertiary.zip

_transportation/data-raw/stl_raw_downloads/1689256_CPRG_County_AADT_secondary_tertiary/

_transportation/data-raw/stl_raw_downloads/1689255_CPRG_County_AADT_motor_trunk_primary/

_transportation/data-raw/stl_raw_downloads/1600439_CPRG_County_OD_NP_Truck_Calib_ReClass/

_transportation/data_streetlight_files/

_transportation/data_streetlight.html

_waste/data_wastewater_files/

_waste/data-raw/wastewater/epa/wastewater-module.xlsm

_waste/data_wastewater_files/

_waste/data-raw/wastewater/epa/wastewater-module.xlsm

_transportation/data-raw/stl_raw_downloads/1600439_CPRG_County_OD_NP_Truck_Calib_ReClass.zip

_transportation/data-raw/stl_raw_downloads/1689255_CPRG_County_AADT_motor_trunk_primary.zip

_transportation/data-raw/stl_raw_downloads/1689256_CPRG_County_AADT_secondary_tertiary.zip

_transportation/data_streetlight_files/

_transportation/data-raw/stl_raw_downloads/1689256_CPRG_County_AADT_secondary_tertiary/

_transportation/data-raw/stl_raw_downloads/1689255_CPRG_County_AADT_motor_trunk_primary/

_transportation/data-raw/stl_raw_downloads/1600439_CPRG_County_OD_NP_Truck_Calib_ReClass/

R/fetch_path.R

_transportation/data_epa_moves_files/

_transportation/data_epa_moves_files/

_transportation/data_epa_moves.html

_transportation/data_epa_moves_files/

R/fetch_path.R

purl/

_transportation/data-raw/mndot/22_cdrs_hc.xlsx

_energy/data-raw/wi_utility_reporting/

_energy/data-raw/wi_natGas_utility_reporting/

_energy/data-raw/shp_util_eusa_MN/

_energy/data-raw/NG_PSCW_ServTerr/

_energy/data-raw/Natural_Gas_Service_Territories/

_energy/data-raw/EL_PSCW_ServTerr (1)/

_energy/data-raw/mn_natGas_utility_reporting/

_energy/data-raw/mn_utility_reporting/

_energy/data-raw/nrel_slope/energy_consumption_expenditure_business_as_usual_city.csv

_energy/data-raw/nrel_slope/energy_consumption_expenditure_business_as_usual_county.csv

_energy/data-raw/nrel_slope/energy_consumption_expenditure_business_as_usual_state.csv

_energy/data-raw/nrel_slope/energy_consumption_expenditure_business_as_usual.zip

_energy/data-raw/nrel_slope/NREL_CITATION.txt

_energy/data-raw/nrel_slope/NREL_DISCLAIMER.txt

CONTRIBUTING_INTERNAL_files/

CODE_OF_CONDUCT_files/

CONTRIBUTING_INTERNAL.html

CODE_OF_CONDUCT.html

_transportation/data-raw/epa/~$metc_lggit_11.28.23.xlsm

_transportation/data-raw/epa/metc_community_ghg_inventorytool_11.28.23.xlsm

_transportation/data-raw/epa/metc_lggit_11.28.23.xlsm

_waste/data-raw/wastewater/GHGEmissions_2019-2021_CorrectedWSCA.xlsx

_transportation/data-raw/epa/community_ghg_inventorytool_11.28.23 2/
_nature/data-raw/ESA_WorldCover_10m_2021_v200_N42W093_Map.tif
_nature/data-raw/ESA_WorldCover_10m_2021_v200_N42W096_Map.tif
_nature/data-raw/ESA_WorldCover_10m_2021_v200_N45W093_Map.tif
_nature/data-raw/ESA_WorldCover_10m_2021_v200_N45W096_Map.tif
_nature/data-raw/land_cover_seq_rates.csv
_nature/data-raw/DBO_RPTAdministrativeBoundary.dbf
_nature/data-raw/DBO_RPTAdministrativeBoundary.cpg
_nature/data-raw/DBO_RPTAdministrativeBoundary.prj
_nature/data-raw/DBO_RPTAdministrativeBoundary.sbx
_nature/data-raw/DBO_RPTAdministrativeBoundary.sbn
_nature/data-raw/DBO_RPTAdministrativeBoundary.shp
_nature/data-raw/DBO_RPTAdministrativeBoundary.shp.xml
_nature/data-raw/DBO_RPTAdministrativeBoundary.shx
_nature/data-raw/land_cover_stock.csv
/_nature/_natural_systems_files

site_libs/
_nature/_natural_systems_files/*

_energy/data-raw/nhgis_blk2000_blk2010_MN/

_energy/data-raw/nhgis_blk2000_blk2010_WI/

_energy/data-raw/EIA861

_energy/data-raw/libraryDocs_2005

_meta/data-raw/nrel_slope/scenario_planner/

_meta/data-raw/nrel_slope/scenario_planner.zip

_meta/data-raw/nrel_slope_emissions/scenario_planner/

_meta/data-raw/nrel_slope_emissions/

_meta/data-raw/nrel_slope/scenario_planner/

_meta/data-raw/nrel_slope/emissions/

_meta/data-raw/nrel_slope/scenario_planner.zip

_transportation/data-raw/ghg_protocol/Emission_Factors_for_Cross_Sector_Tools_V2.0_0.xlsx

_transportation/data-raw/ghg_protocol/ghg-uncertainty.xlsx

_energy/data-raw/egrid_historical_files_1996-2016

_energy/data-raw/geoCrosswalk
_agriculture/data-raw/manure-ch4.csv
_agriculture/data-raw/enteric-fermentation.csv
_agriculture/data-raw/manure-n2o.csv
_agriculture/data-raw/mn-feedlots.csv
_agriculture/data-raw/ag_constants.csv
_agriculture/data-raw/ag_control.csv
_agriculture/data-raw/ag_fertilizer.csv
_agriculture/data-raw/ag_residual_burning_ch4.csv
_agriculture/data-raw/ag_residual_burning_n2o.csv
_agriculture/data-raw/ag_soils_fertilizer.csv
_agriculture/data-raw/ag_soils_fertilizer_production.csv
_agriculture/data-raw/ag_soils_liming.csv
_agriculture/data-raw/ag_soils_manure.csv
_agriculture/data-raw/ag_soils_residuals.csv
_agriculture/data-raw/ag_manure_management.csv
_agriculture/data-raw/ag_nex.csv

_meta/data-raw/population/co-est00int-01-27.xls

_meta/data-raw/population/co-est00int-01-55.xls

_meta/data-raw/population/

_transportation/data-raw/epa/nei_pre_2008/

_agriculture/data-raw/ag_constants.csv

_agriculture/data-raw/ag_control.csv

_agriculture/data-raw/ag_fertilizer.csv

_agriculture/data-raw/ag_manure_management.csv

_agriculture/data-raw/ag_nex.csv

_agriculture/data-raw/ag_residual_burning_ch4.csv

_agriculture/data-raw/ag_residual_burning_n2o.csv

_agriculture/data-raw/ag_soils_fertilizer_production.csv

_agriculture/data-raw/ag_soils_fertilizer.csv

_agriculture/data-raw/ag_soils_liming.csv

_agriculture/data-raw/ag_soils_manure.csv

_agriculture/data-raw/ag_soils_residuals.csv

_transportation/data-raw/epa/nei_pre_2008/

_transportation/data-raw/GPC/

_transportation/data-raw/GPC/

_transportation/data-raw/epa/nei_2005/

_transportation/data-raw/epa/SCCDownload-2024-0718-132502.csv

_meta/data-raw/epa/state_ghg/

_meta/data-raw/epa/nei_2005/

_meta/data-raw/epa/SCCDownload-2024-0718-132502.csv

_transportation/data-raw/epa/nei/2020NEI_onroad/inputs/onroad/

_transportation/data-raw/epa/nei/2020_Documentation_of_CDB_Input_Data_20230118.xlsx

_transportation/data-raw/epa/nei/2020_RepCounty_Runspecs.zip

_transportation/data-raw/epa/nei/2020_Representative_Counties_Analysis_20220720.xlsx

_transportation/data-raw/epa/nei/2020NEI_onroad_activity_final_20230112.zip

_transportation/data-raw/epa/nei/onroad_activity_data_SCC_descriptions.xlsx

_transportation/data-raw/epa/nei/~$2020_Documentation_of_CDB_Input_Data_20230118.xlsx

_transportation/data-raw/epa/nei/~$2020_Representative_Counties_Analysis_20220720.xlsx

_transportation/data-raw/epa/nei/2020NEI_spdist.zip

_transportation/data-raw/~$source_method_compare.xlsx

_transportation/data-raw/epa/nei/2020NEI_spdist/

_transportation/data-raw/epa/nei/2020NEI_RepCounty_Temperatures.zip

_transportation/data-raw/epa/nei/2008NEI/

_transportation/data-raw/epa/nei/2014NEI/

_transportation/data-raw/epa/nei/2017NEI/

_transportation/data-raw/epa/nei/2011NEI/

_transportation/data-raw/epa/nei/2020NEI/

_transportation/data-raw/epa/SCCDownload-2024-0805-165321.csv

_transportation/data-raw/epa/emismod/

_transportation/data-raw/epa/scc_missing_values.csv

_transportation/data-raw/epa/SCCDownload-2024-0812-144242.csv

_transportation/data-raw/epa/air_emissions_modeling/2022v1/

_transportation/data-raw/epa/air_emissions_modeling/2021/

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2017/

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2014/

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2011/

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2008_inventory_onroad_11may2021.zip

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2008/

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2005_inventory_onroad_23jun2021.zip

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2011_inventory_onroad_20apr2021.zip

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2014_inventory_onroad_01mar2021.zip

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2017_inventory_onroad_inv_25jan2021.zip

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2002_inventory_onroad_01jun2021.zip

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2002_inventory_onroad_23jun2021.zip

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2005/

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2002/

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2017_inventory_onroad_activity_11jan2021.zip

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_2017 2/

_transportation/data-raw/mndot/county_functional_class/

_transportation/data-raw/epa/air_emissions_modeling/2002ac/

_transportation/data-raw/epa/air_emissions_modeling/air_emismod.csv

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/~$app-4-4-2016-2023-nj-modeling-inventory-statewide-5-13-24.xlsx

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/2011-Alpha2-Appendix-GG-SCC-Assignments-to-MARAMA-Sectors-2016.xlsx

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/app-4-4-2016-2023-nj-modeling-inventory-statewide-5-13-24.xlsx

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_M3_bySCC.zip

_transportation/data-raw/epa/air_emissions_modeling/2002_neiv3CAP_orl_nonroad.zip

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/Dataverse/

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/nonroad/

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_M3_bySCC/

_transportation/data-raw/epa/air_emissions_modeling/onroad_activity_data_SCC_descriptions.xlsx

_transportation/data-raw/epa/air_emissions_modeling/2020/

_transportation/data-raw/epa/air_emissions_modeling/2011/
_transportation/data-raw/epa/air_emissions_modeling/2015/
_transportation/data-raw/epa/air_emissions_modeling/2014/
_transportation/data-raw/epa/air_emissions_modeling/2016/
_transportation/data-raw/epa/air_emissions_modeling/2017
_transportation/data-raw/epa/air_emissions_modeling/2018/
_transportation/data-raw/epa/air_emissions_modeling/2019/

_transportation/data-raw/epa/~$epa_downloads.xlsx

_transportation/data-raw/epa/air_emissions_modeling/2008/

_transportation/data-raw/epa/air_emissions_modeling/2007/

_transportation/data-raw/epa/air_emissions_modeling/air_emissions_modeling_mn_wi/

_transportation/data-raw/epa/air_emissions_modeling/EQUATES/EQUATES_MN_WI/

_transportation/data-raw/epa/27Nov07 Valid Protocols Sampl Meth - All.xls

_transportation/data-raw/epa/methods_all.csv

_transportation/data-raw/epa/Parms by Desc.xls

_transportation/data-raw/epa/smoke_flat_file_format_26apr2010_no_event.xls

_transportation/data-raw/epa/nei/SmokeFlatFile_MN_WI/

_meta/data-raw/population/co-est00int-01-27.xls

_meta/data-raw/population/co-est00int-01-55.xls

_meta/data-raw/population/

_transportation/data-raw/epa/nei_pre_2008/

_agriculture/data-raw/ag_constants.csv

_agriculture/data-raw/ag_control.csv

_agriculture/data-raw/ag_fertilizer.csv

_agriculture/data-raw/ag_manure_management.csv

_agriculture/data-raw/ag_nex.csv

_agriculture/data-raw/ag_residual_burning_ch4.csv

_agriculture/data-raw/ag_residual_burning_n2o.csv

_agriculture/data-raw/ag_soils_fertilizer_production.csv

_agriculture/data-raw/ag_soils_fertilizer.csv

_agriculture/data-raw/ag_soils_liming.csv

_agriculture/data-raw/ag_soils_manure.csv

_agriculture/data-raw/ag_soils_residuals.csv

_transportation/data-raw/epa/nei_2005/

_transportation/data-raw/epa/SCCDownload-2024-0718-132502.csv

_meta/data-raw/epa/state_ghg/

_meta/data-raw/epa/nei_2005/

_meta/data-raw/epa/SCCDownload-2024-0718-132502.csv

_transportation/data-raw/epa/nei/2020NEI_onroad/inputs/onroad/

_transportation/data-raw/epa/nei/2020_Documentation_of_CDB_Input_Data_20230118.xlsx

_transportation/data-raw/epa/nei/2020_RepCounty_Runspecs.zip

_transportation/data-raw/epa/nei/2020_Representative_Counties_Analysis_20220720.xlsx

_transportation/data-raw/epa/nei/2020NEI_onroad_activity_final_20230112.zip

_transportation/data-raw/epa/nei/onroad_activity_data_SCC_descriptions.xlsx

_transportation/data-raw/epa/nei/~$2020_Documentation_of_CDB_Input_Data_20230118.xlsx

_transportation/data-raw/epa/nei/~$2020_Representative_Counties_Analysis_20220720.xlsx

_transportation/data-raw/epa/nei/2020NEI_spdist.zip

_transportation/data-raw/~$source_method_compare.xlsx
