
/*-- scss:uses --*/
@uses "style/font.scss";
@import 'font';


/*-- scss:defaults --*/

//
// Color system
//


$council-blue: #0054a4;
$council-black: #252525;
$council-white: #FFFFFF;
$council-gray: #EDEDED;
$cd-green: #78A22F;
$mts-red: #EE3124;

/* blue cascade with backround and text color */
$background-blue-0: #002b5c;
$color-blue-0: #ffffff;
$background-blue-1: #01408a;
$color-blue-1: #ffffff;
$background-blue-2: $council-blue;
$color-blue-2: $council-white;
$background-blue-3: #A5BAD5;
$color-blue-3: #002b5c;
$background-blue-4: #cad3e0;
$color-blue-4: #002b5c;
$background-blue-5: #e0e3e8;
$color-blue-5: #002b5c;
$background-blue-6: $council-gray;
$color-blue-6: #002b5c;
$background-blue-7: #f7f7f7;
$color-blue-7: #002b5c;
$background-blue-8: $council-white;
$color-blue-8: #002b5c;

$dark-blue: #044f97;

$white:    $council-white !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ccc !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black:    $council-black !default;

$blue:    $council-blue !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     $mts-red !default;
$orange:  #fd7e14 !default;
$yellow:  #e99002 !default;
$green:   $cd-green !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       $blue !default;
$secondary:     $gray-200 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;

$blue-dark:     $background-blue-0;

$min-contrast-ratio:   1.9 !default;

// Components

$border-radius:               0 !default;
$border-radius-lg:            0 !default;
$border-radius-sm:            0 !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      Roman, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-weight:        300 !default;
$headings-font-family:        Light, Helvetica, Tahoma, Geneva, "Arial Narrow", Arial,  sans-serif;
$headings-line-height: 1.2;
$headings-color: $background-blue-1;
$strong-font-family: Medium, "Arial Narrow", !important;
$strong-font-weight: 700;

$sidebar-heading: "Bold-Condensed", Medium, Helvetica, Tahoma, Geneva, "Arial Narrow", Arial, sans-serif;

$font-size-sm: 16;

$presentation-font-size-root: 33pt;
$presentation-heading-color: $background-blue-1;
$presentation-heading-font: Light, Helvetica,Tahoma,Geneva,"Arial Narrow",Arial,sans-serif;

$presentation-h1-font-family: Light, Helvetica,Tahoma,Geneva,"Arial Narrow",Arial,sans-serif;

$presentation-font-smaller: 0.7em;

$presentation-h1-font-size: 1.6em;
$presentation-h2-font-size: 1.4em;
$presentation-h3-font-size: 1.4em;

// Tables

$table-bg-scale:              0 !default;

table, .table {
    margin-bottom: 1.5rem;
    max-width: 94%;
    font-size: 12pt;
}

// Buttons

$input-btn-padding-x:         .5rem !default;
$btn-font-weight:             300 !default;

// Dropdowns

$dropdown-border-color:             rgba($black, .1) !default;
$dropdown-divider-bg:               rgba($black, .1) !default;

// Navs

$nav-link-disabled-color:           $gray-400 !default;
$nav-tabs-border-color:             $dropdown-border-color !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

// Navbar

$navbar-dark-color:                 rgba($white, .7) !default;
$navbar-dark-hover-color:           $white !default;


$navbar-light-color:                 rgba($black, .7) !default;
$navbar-light-hover-color:           $black !default;

// Pagination

$pagination-color:                  $gray-600 !default;
$pagination-border-color:           $nav-tabs-border-color !default;
$pagination-active-border-color:    darken($primary, 5%) !default;
$pagination-disabled-color:         $gray-200 !default;

// Cards

$card-inner-border-radius:          0 !default;

// Badges

$badge-font-weight:                 300 !default;
$badge-padding-x:                   1rem !default;

// Alerts

$alert-link-font-weight:            400 !default;

$alert-bg-scale:                    0 !default;

// Progress bars

$progress-bg:                       $gray-400 !default;
$progress-bar-color:                $white !default;

// List group

$list-group-disabled-bg:            $gray-200 !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-border-radius:          3px !default;

// Close

$btn-close-color:            $gray-600 !default;
$btn-close-opacity:          .6 !default;
$btn-close-hover-opacity:    1 !default;



/*-- scss:rules --*/


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Navbar

.navbar {
  font-weight: $headings-font-weight;
}

.bg-primary {
  .dropdown-menu {
    background-color: $primary;

    .dropdown-item,
    .dropdown-item:focus {
      color: $navbar-dark-color;
    }

    .dropdown-item.active,
    .dropdown-item:hover,
    .dropdown-item:focus {
      background-color: shade-color($primary, 10%);
      color: $white;
    }
  }
}

.bg-dark {
  background-color: $gray-800 !important;

  .dropdown-menu {
    background-color: $gray-800;

    .dropdown-item,
    .dropdown-item:focus {
      color: $navbar-dark-color;
    }

    .dropdown-item.active,
    .dropdown-item:hover,
    .dropdown-item:focus  {
      background-color: shade-color($gray-800, 10%);
      color: $white;
    }
  }
}

.bg-light {
  .dropdown-menu {
    background-color: $gray-200;

    .dropdown-item,
    .dropdown-item:focus {
      color: $navbar-light-color;
    }

    .dropdown-item.active,
    .dropdown-item:hover,
    .dropdown-item:focus  {
      background-color: tint-color($gray-200, 10%);
      color: $navbar-light-hover-color;
    }
  }
}

.navbar-logo {
    max-height: 73px; 
    width: auto;
    padding-right: 4px;
}

.navbar-title {
  font-family: Condensed, "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-footer {
    padding-left: 0rem !important; 
    padding-right: 0rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;

}


.footer {
  background: #043971;
}

// Buttons

.btn {
  &-primary {
    border-color: shade-color($primary, 10%);
  }

  &-default {
    border-color: shade-color($secondary, 10%);
  }

  &-secondary {
    border-color: shade-color($secondary, 10%);
  }

  &-success {
    border-color: shade-color($success, 10%);
  }

  &-info {
    border-color: shade-color($info, 10%);
    color: $white;
  }

  &-danger {
    border-color: shade-color($danger, 10%);
  }

  &-warning {
    border-color: shade-color($warning, 10%);
    color: $white;
  }

  &-light {
    border-color: shade-color($light, 10%);
  }

  &-dark {
    border-color: shade-color($dark, 10%);
  }
}

.btn-group {
  .dropdown-menu {
    border-top-width: 0;
  }

  .dropdown-toggle {
    &.btn-primary ~ .dropdown-menu {
      background-color: $primary;
      border-color: shade-color($primary, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($primary, 16%);
      }
    }

    &.btn-secondary ~ .dropdown-menu {
      background-color: $secondary;
      border-color: shade-color($secondary, 10%);

      .dropdown-item {
        color: $body-color;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($secondary, 16%);
      }
    }

    &.btn-success ~ .dropdown-menu {
      background-color: $success;
      border-color: shade-color($success, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($success, 16%);
      }
    }

    &.btn-info ~ .dropdown-menu {
      background-color: $info;
      border-color: shade-color($info, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($info, 16%);
      }
    }

    &.btn-warning ~ .dropdown-menu {
      background-color: $warning;
      border-color: shade-color($warning, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($warning, 16%);
      }
    }

    &.btn-danger ~ .dropdown-menu {
      background-color: $danger;
      border-color: shade-color($danger, 10%);

      .dropdown-item {
        color: $white;
      }

      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: shade-color($danger, 16%);
      }
    }
  }
}

// Typography

.text-secondary {
  color: $gray-700 !important;
}

.blockquote-footer {
  color: $gray-600;
}


body {
	font-size: 13pt !important;
	line-height: 1.6;
	font-weight: 100;
	font-family: Arial, Helvetica, Tahoma, Geneva, Arial, sans-serif;
};

b, strong {
	font-family: $strong-font-family;
	font-weight: 600;
	color: $background-blue-1;
};

// Tables

table {
  font-size: $font-size-sm;
}

// Forms

label,
.control-label,
.help-block,
.checkbox,
.radio,
.form-control-feedback {
  font-size: $font-size-sm;
}

// Sidebar

.sidebar-title {
    margin-top: .25rem;
    padding-bottom: .5rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-family: $headings-font-family;
    visibility: visible;
    color: $background-blue-1;
}

.sidebar-item .sidebar-item-container {
	display: flex;
	justify-content: space-between;
	padding: 2.5%;
  //font-family: $sidebar-heading;
}


div.sidebar-item-container:hover, div.sidebar-item-container:focus {
    color: rgba(4,79,151,.8);
    background: $gray-400;
    text-decoration: underline;

}

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
    color: #044f97;
    //text-decoration: underline;
    font-weight: bold;
}



.sidebar-section {
    margin-top: .2em;
    margin-left: 0.3em;
    padding-left: .5em;
    padding-bottom: .2em;
    border: $council-blue;
    border-left-style: solid;
    border-left-width: 2px;
}

.sidebar-item .chapter-number {
    color: #333;
    font-weight: bold;
}

// Navs

.dropdown-item {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: $font-size-sm;
  font-weight: 300;
}

.nav-tabs {
  .nav-link,
  .nav-link.disabled,
  .nav-link.disabled:hover,
  .nav-link.disabled:focus {
    border-color: $nav-tabs-border-color;
    background-color: $gray-200;
  }

  .nav-link:hover,
  .nav-link:focus {
    background-color: tint-color($gray-200, 10%);
  }
}

.nav-pills {
  .active {
    border: 1px solid shade-color($primary, 10%);
  }
}

.breadcrumb {
  border: 1px solid $dropdown-border-color;
  font-size: $font-size-sm;
  font-weight: 300;
  text-transform: uppercase;
}

.pagination {
  font-weight: 300;

  .page-link {
    border-color: transparent;
    border-radius: 3px;
    margin-left: .1em;
    margin-right: .1em;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .page-item.disabled {
    .page-link {
      border-color: transparent;
    }
  }
}

.pagination,
.pagination-lg,
.pagination-sm {
  .page-item:first-child,
  .page-item:last-child {
    .page-link {
      border-radius: 3px;
    }
  }
}

.list-group {
  font-size: $font-size-sm;
  font-weight: 300;
}



// Indicators

.alert {
  font-size: $font-size-sm;
  font-weight: 300;
  color: $white;

  .alert-link {
    color: $white;
    text-decoration: underline;
  }

  &:not(.alert-secondary):not(.alert-light) .btn-close {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
  }

  &-secondary,
  &-light {
    &,
    a:not(.btn),
    .alert-link {
      color: $body-color;
    }
  }
}

.badge {
  &.bg-secondary,
  &.bg-light {
    color: $dark;
  }
}

// Progress bars

.progress[value] {
  height: 22px;
  padding: 2px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
}

// Popovers

.popover-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


span.toc-section-number {
    font-weight: 600;
}

.quarto-secondary-nav-title {
    margin-top: .3em;
    color: $headings-color;
    padding-top: 4px;
}

.leaflet-container {
    text-align: left;
}

.quarto-figure-center>figure>p, .quarto-figure-center>figure>div {
    text-align: inherit;
}


.callout {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: .25rem;
    overflow-wrap: break-word;
}

.callout.callout-style-default>div.callout-header {
    border-bottom: none;
    opacity: 85%;
    font-size: 1rem;
    padding-left: .5em;
    padding-right: .5em;
    font-family: Light,Helvetica,Tahoma,Geneva,"Arial Narrow",Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-family: $headings-font-family !important; 
}

caption, .table-caption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: left;
}

iframe {
    margin-bottom: 0em;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
}


.global-footer {
  margin-top: 0px !important;
    /* margin-top: 20px; */
}

body:not(.floating) .nav-footer {
  border-top: 0px solid #dee2e6 !important;
  background-color: #001d3d;
}
// Reveal manual styling


.reveal .slide figure>figcaption, .reveal .slide img.stretch+p.caption, .reveal .slide img.r-stretch+p.caption {
    font-size: 1em;
    color: #737373;
}

.reveal tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.reveal{
	font-size: 13pt;
	line-height: 1.6;
	font-weight: 100;
	font-family: Helvetica, Tahoma, Geneva, Arial, sans-serif;
}

.reveal .slide-logo {
    display: block;
    position: fixed;
    bottom: 0;
    right: 12px;
    min-height: 3.5rem;
    max-height: 4.2rem;
    height: 100%;
    width: auto;
}

div.csl-entry {
    clear: both;
    overflow-wrap: break-word;
}


// Plotly

.js-plotly-plot .plotly [data-title]:hover::before, .js-plotly-plot .plotly [data-title]:hover::after {
    display: block;
    opacity: 1;
    width: auto;
    height: auto;
    font-family: $font-family-sans-serif;
}
