

/* --------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, h4, p, a, img, ul, li, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
    overflow-y: scroll;
}

/* Don"t let iOS and WinMobile mobile-optimize text for you */
/* Turn this rule on for mobile sites or sites using mediaqueries */
/*
html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
*/

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
nav, section {
    display: block;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Font Face Helvetica Neue Declarations
------------------------------------------------------------------------ */
@font-face {
    font-family: 'Bold';
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-bd-webfont.eot');
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-bd-webfont.eot?') format('embedded-opentype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-bd-webfont.woff') format('woff'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-bd-webfont.ttf') format('truetype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-bd-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bold-Condensed';
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-bdcn-webfont.eot');
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-bdcn-webfont.eot?') format('embedded-opentype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-bdcn-webfont.woff') format('woff'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-bdcn-webfont.ttf') format('truetype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-bdcn-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Condensed';
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-cn-webfont.eot');
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-cn-webfont.eot?') format('embedded-opentype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-cn-webfont.woff') format('woff'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-cn-webfont.ttf') format('truetype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-cn-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Light';
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-lt-webfont.eot');
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-lt-webfont.eot?') format('embedded-opentype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-lt-webfont.woff') format('woff'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-lt-webfont.ttf') format('truetype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-lt-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-md-webfont.eot');
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-md-webfont.eot?') format('embedded-opentype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-md-webfont.woff') format('woff'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-md-webfont.ttf') format('truetype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-md-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium-Condensed';
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-mdcn-webfont.eot');
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-mdcn-webfont.eot?') format('embedded-opentype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-mdcn-webfont.woff') format('woff'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-mdcn-webfont.ttf') format('truetype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-mdcn-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roman';
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-roman-webfont.eot');
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-roman-webfont.eot?') format('embedded-opentype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-roman-webfont.woff') format('woff'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-roman-webfont.ttf') format('truetype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-roman-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Light-Italic';
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-ultltit-webfont.eot');
    src: url('/App_Themes/METC/fonts/helveticaneueltstd-ultltit-webfont.eot?') format('embedded-opentype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-ultltit-webfont.woff') format('woff'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-ultltit-webfont.ttf') format('truetype'),
         url('/App_Themes/METC/fonts/helveticaneueltstd-ultltit-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Light-Italictrue';
    src: url('/App_Themes/METC/fonts/HelveticaNeueLTStd-LtIt-webfont.eot');
    src: url('/App_Themes/METC/fonts/HelveticaNeueLTStd-LtIt-webfont.eot?') format('embedded-opentype'),
         url('/App_Themes/METC/fonts/HelveticaNeueLTStd-LtIt-webfont.woff') format('woff'),
         url('/App_Themes/METC/fonts/HelveticaNeueLTStd-LtIt-webfont.ttf') format('truetype'),
         url('/App_Themes/METC/fonts/HelveticaNeueLTStd-LtIt-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karen';
    src: url('/App_Themes/METC/fonts/knu.eot');
    src: url('/App_Themes/METC/fonts/knu.eot?') format('embedded-opentype'),
         url('/App_Themes/METC/fonts/knu.woff') format('woff'),
         url('/App_Themes/METC/fonts/knu.ttf') format('truetype'),
         url('/App_Themes/METC/fonts/knu.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */

body {
    background-color: #ffffff;
    color: #252525;
    font: 13px/1 "Roman", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

a {
    color: #0054a4;
    text-decoration: none;
    -moz-transition:
        color 0.15s ease-in-out,
        border 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        opacity 0.15s ease-in-out 0s;
    -webkit-transition:
        color 0.15s ease-in-out,
        border 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        opacity 0.15s ease-in-out 0s;
    -ms-transition:
        color 0.15s ease-in-out,
        border 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        opacity 0.15s ease-in-out 0s;
    -o-transition:
        color 0.15s ease-in-out,
        border 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        opacity 0.15s ease-in-out 0s;
    transition:
        color 0.15s ease-in-out,
        border 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        opacity 0.15s ease-in-out 0s;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #0070e0;
}

img { max-width: 100%; }

a {
    transition: color .22s ease;
}
  
a {
    background-color: transparent;
}

.navigation {
    position: relative;
    top: 2px;
    background-color: #ededed;
}

.navigation-main {
  position: relative;
}

.main-logo {
    margin: 10px 0 11px 21px;
    float: left;
}

.footer-social {
    padding: 40px 0px 40px 0px;
    background-color: #043971;
}

.footer-textblue {
    color: rgb(180,213,240);
    font-size: 13px;
    font-family: "Roman", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
}

.copyright { float: right; }

.copyright { 
  float: left; 
  color: rgb(180,213,240);
}

.footer-columns {
    margin-top: 20px;
}

.footer-columns, .footer-columns a {
    color: white;
}

.footer-columns > div > div {
/*    width: 15%!important;*/
    padding-right: 5%;
    position: relative;
}

.footer-divider-small {
    position: absolute;
    left: -30px;
    height: 70px;
    border-right: 1px solid rgb(180,213,240);
}

.standalone-footer {
    padding-left: 5%;
    line-height: 1.5;
}

.standalone-footer .footer-col {
/*    width: 25%;*/
    float: left;
}

.wysiwyg {line-height: 1.5;}

nav ul, nav li { margin: 0; }
nav ul, ul { list-style:none; }


/* Responsify Defaults */



@media screen and (max-width: 480px){
  nav ul li{
    width: 100%;
    margin: 0 0 5px 0;
  }

  nav a{
    margin: 0;
    padding: 14px 0 14px 0;
  }

}
  
@media screen and (max-width: 1024px) {
 /* Add your styles for devices with a maximum width of 1024 */ 
  .footer-social {
    padding: 40px 5% 40px 5%;
    background-color: #043971;
}

}
  
@media screen and (max-width: 765px) {
 /* Add your styles for devices with a maximum width of 768 */ 
  .footer-social {
    padding: 40px 5% 40px 5%;
    background-color: #043971;
}
    .standalone-footer .footer-columns {
        margin-top: 0px;
    }
    .standalone-footer .footer-col {
        width: 100%;
        float: none;
        padding: 20px 0px;
    }
    .standalone-footer .footer-divider-small {
        border-right: 0px;
    }
}  

@media screen and (max-width: 480px) {
 /* Add your styles for devices with a maximum width of 480 */
  
  .footer-social {
    padding: 40px 5% 40px 5%;
    background-color: #043971;
}



}

/* Micro Clearfix */

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}


@media print {
  
  #navigation,
  .footer-social 
  {
    display: none;
  }
}


.main-logo {
             margin-right: 30px;
       }

    .navigation {
         top: 0px;
    }

    .main-nav-new * {
        box-sizing: border-box;
    }

    .main-nav-new {
        font-size: 19px;
        font-family: "Condensed", "Arial Narrow", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
        padding-left: 0;
        display: flex;
        float: left;
    }

        .main-nav-new > li {
            /* float: left; */
        }
        
        .main-nav-new > li > a {
            font-size: 18px;
            font-family: "Condensed", "Arial Narrow", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
            display: inline-block;
            border-style: solid;
            /* padding: 33px 9px 34px 36px; */
            padding: 38px 18px 38px 18px;
            border-color: transparent;
            margin-right:1px;
            position: relative;
            z-index: 116;
            color: #0054a4;
            /*background: transparent url(/App_Themes/METC/Images/arrow-sprite.png) 14px 34px scroll no-repeat;*/
            text-transform: uppercase;
            text-decoration: none;
            height: 100%;
        }


 /* dkgray */
   .theme-dkgray > a.current-top-nav {
        border-color: #fff;
        background-color: #fff;
        color: #0054a4;
    }
    .theme-dkgray > a:hover, .theme-dkgray > a:focus  {
        border-color: #d6d6d6;
        background-color: #d6d6d6;
        color: #0054a4;
    }


@media screen and (max-width: 1024px){

    nav {
        width: 100%;
    }

    .main-nav-new {
        display: none;
    }


}