
/*-- scss:rules --*/

/* ---------------------------------------------------------------------
 Footer
------------------------------------------------------------------------ */

.global-footer { margin-top: 20px; }

.footer-utility { background-color: #0054a4; }

.utility-list {
    padding: 18px 0;
    color: #ffffff;
    font-size: 14px;
    font-family: "Condensed", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
}

.utility-list > li + li {
    margin-left: 18px;
    padding-left: 18px;
}

.utility-list a { color: #ffffff; }

.utility-list a:hover {
    color: #76bcff;
    text-decoration: underline;
}

.footer-social {
    padding: 40px 0px 40px 0px;
    background-color: #043971;
}

.footer-social .h-list-std {
    max-width: 120px;
}

.footer-social .h-list-std > li:nth-child(4) {
    margin-left: 0px;
}

.footer-socialMobile {
    padding: 20px 10px 10px 10px;
    background-color: #043971;
}

.btn-social {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 200%;
    width: 30px;
    height: 30px;
    margin:0 0 10px 0;
   // background: transparent url('/App_Themes/METC/Images/social-sprite.png?v=6-29-2020') 0 0 scroll no-repeat;
}

.email-icon {
    background-position: -180px 0;
}

.linkedin-icon {
    background-position: -150px 0;
}

.instagram-icon { background-position: -120px 0; }

.facebook-icon { background-position: -60px 0; }

.twitter-icon { background-position: -30px 0; }

.youtube-icon { background-position: 0 0; }

.social-icons { margin-top: 10px; }

.mission-statement {
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
}

.contact-list {
    margin-top: 10px;
    color: #ffffff;
    font-size: 12px;
    font-family: "Bold-Condensed", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
}

.footer-textblue {
    color: rgb(180,213,240);
    font-size: 13px;
    font-family: "Roman", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
}

.footer-legal {
    padding: 18px 0;
    color: #ffffff;
    background-color: #001d3d;
}

.legal-links a { color: #ffffff; }

.legal-links a:hover {
    color: #76bcff;
    text-decoration: underline;
}

.copyright { float: right; }

.copyright { 
  float: left; 
  color: rgb(180,213,240);
}

.footer-columns {
    margin-top: 20px;
}

.footer-columns, .footer-columns a {
    color: white;
}

.footer-columns > div > div {
    width: 15%!important;
    padding-right: 5%;
    position: relative;
}

.footer-divider {
    position: absolute;
    left: -30px;
    height: 160px;
    border-right: 1px solid rgb(180,213,240);
}

.footer-columns .heading {
    color: rgb(180,213,240);
    font-family: "Medium-Condensed", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.footer-columns ul {
    list-style-type: none!important;
    padding: 0px!important;
    margin: 0px!important;
}
/* changed list space not needed anymore 21182021
.footer-columns li {
    padding: 5px 0px!important;
}
*/
